@import "main.css";

body {
    padding: 0px;
    margin: 0px;
}

li{
    margin-bottom: 10px;
}

img.cubo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.mov{
    font-size: 45px;
    color:white;
}