@import url(main.css);


a {
  color: white;
  text-decoration: none;
}

header{
  height: 100vh;
}
/* 
#square{
  height: 15px;
  width: 15px; 
  position: fixed;
  top:0;
  left: 0;
  background-color: red; 
} */

.snap{
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.snap.active {
  opacity: 1;
}


.encabezado-contenido {
  text-align: left;
  max-width: 960px;
  margin: 0 auto;
  margin-left: 60px;
  margin-right: 40px;
}

.encabezado-contenido h1 {
  font-size: 120px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.encabezado-contenido p {
  font-size: 24px;
  text-align: justify;
}

@media only screen and (max-width: 800px){
    .intro p{
      display: none;
    }
}


.inicioSeccion {
  background-size: cover;
  background-position: top;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 5%;
}

#juegosLogica>.inicioSeccion {
  background-image: url(../imagenes/inicioLogica.jpg);
}

#cartas>.inicioSeccion {
  background-image: url(../imagenes/inicioCartas.jpg);
}

#rubik>.inicioSeccion {
  background-image: url(../imagenes/inicioRubik.jpg);
}

#juegosMesa>.inicioSeccion {
  background-image: url(../imagenes/inicioJuegosMesa.jpg);
}

.intro {
  background-color: rgba(255, 255, 255, 0.8);
  color:black;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.intro h2 {
  font-size: 36px;
  margin: 0;
}

.intro p {
  font-size: 18px;
  text-align: justify;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin-top: 10%;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 0;
}

@media (max-width: 800px) {
  .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 0;
  }
}

.elemento {
  flex: 33%;;
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.elemento img {
  max-width: 100%;
  max-height: 50%;
}

.elemento h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.elemento p {
  margin-bottom: 20px;
  text-align: center;
}

.elemento button {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}