@import "main.css";

main{
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 2%;
  }

ul {
    list-style: square;
}

td {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    color: black;
}

table {
    border-collapse: collapse;
    margin: auto;
    background-color: white;
}

button {
    text-align: center;
    margin: auto;
}

.borde-derecho {
    border-right: 2px solid black;
}

.borde-abajo {
    border-bottom: 2px solid black;
}

table{
    margin-bottom: 25px;
}

.casilla-elegida {
    border: 2px solid blue;
}

.initial {
    font-weight: bold;
}

.pin {
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

.square{
    height:100px;
    width: 100px;
    margin-left: 30px;
    padding:4px;
    background-color: white;
    border-radius: 10%;
    display: flex;
    justify-content: space-between;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dot {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    display: block;
}

.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.acabado{
    opacity: 0.5;
}

#acierto{
    font-size: 40px;
}

#center{
    margin: auto;
    display: flex;
    position: relative;
    gap: 25px;
    margin-bottom: 20px;
}

#center button{
    position: relative;
    display: block;
}

#juego{
    margin-top: 60px;
}

#boton{
    position: relative;
    display: block;
}

.cell{
    color:red;
    font-weight: bold;
    font-size: 35px;
}

#victory{
    color:red;
    text-align: center;
    margin:auto;
    position: relative;
}

.blue{
    color:blue;
}

#center h1{
    color:red;
    text-align: center;
    margin:auto;
    position: relative;
}

#tablero{
    width:400px;
    height: 400px;
    margin: auto;
    margin-bottom: 25px;
}

#tabla{
    width: 90%;
    height: 90%;
}

button{
    padding: 15px 32px;
    margin-bottom: 20px;
}