@import "main.css";



main{
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 2%;
  }

.recomendaciones{
    position: relative;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}

.recomendaciones .recomendacion{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    justify-content: center;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.recomendaciones .recomendacion .title{
    padding: auto;
    transform:translateY(80px);
    transition: all 0.5s ease-out;
}

.recomendaciones .recomendacion .content
{
    opacity:0;
    padding: 0 20px;
    text-align: center;
}

.recomendaciones .recomendacion:hover .content, .recomendaciones .recomendacion:hover .title
{
    transform:translateY(0px);
    opacity: 1;
    transition: all 0.5s ease-out;
}

.recomendaciones .recomendacion .content p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;

}

.recomendacion img{
    border-radius: 150px;
    width: 150px;
}

li{
    padding-bottom: 10px;
}

ul li:nth-child(even)::marker{
    color: black;
}


.foto{
    width: 50%;
    margin: auto;
    display: block;
    padding-bottom: 10px;
}