body {
  margin:0;
  padding:0;
  background-color: #1c1c1c;
  font-family: 'Courier New', Courier, monospace;
  color: #fff
}

main{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

p{
  text-align: justify;
}

header {
  background-size: cover;
  color: #fff;
  display: flex;
  height: 15vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

a.menu:hover{
    color:gray;
}

.logo {
  position: absolute;
  top: 20px;
  left: 40px;
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 80px;
  margin-right: 10px;
}

nav {
  position: fixed;
  top: 40px;
  right: 40px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}


footer {
  background-color: #333;
  color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  padding-top:20px;
  margin-top: 10%;
}

.footer-contenido {
  margin: 0 auto;
  text-align: center;
}

.footer-contenido h3 {
  margin-bottom: 10px;
}

.footer-contenido p {
  margin-bottom: 0px;
  padding-bottom: 5px;
  text-align: justify;
}

.iconos-redes-sociales a {
  color: #fff;
  margin: 0 10px;
  font-size: 24px;
}