@import "juegoMesa.css";

  #bloques{
    display: flex;
    margin: auto;
  }

  #bloques p{
    display: block;
    margin: auto;
    width: 18%;
    height: auto;
    border: solid;
    row-gap: 2px;
    text-align: center;
    justify-content: center;
  }