@import "juegoMesa.css";

  #bloques{
    display: flex;
    margin: auto;
  }

  #bloques p{
    display: block;
    margin: auto;
    width: 18%;
    height: auto;
    border: solid;
    row-gap: 2px;
    text-align: center;
    justify-content: center;
  }

  button{
    position: relative;
    display: block;
    padding: 15px 32px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  #juego{
    margin-bottom: 40px;
  }

  #juego p{
    margin-bottom: 20px;
  }